.nav-btn {
  height: 47px;
  position: absolute;
  width: 23px;
  cursor: pointer;
  top: 90px !important;
  padding: 10px;
  background-color: black;
}

.owl-theme .owl-nav [class*="owl-"] {
  position: absolute;
  top: 33%;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -27px;
  height: 60px;
  width: 22px;
  background: lightgray;
  color: white;
  border-radius: 2px;
}
.owl-carousel .owl-nav button.owl-next {
  right: -27px;
  height: 60px;
  width: 22px;
  background: lightgray;
  color: white;
  border-radius: 2px;
}
.owl-carousel .owl-prev:hover {
  background-position: 0px -53px;
}
.owl-carousel .owl-next:hover {
  background-position: -24px -53px;
}

.card {
  border-color: black;
}
