.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 90px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  left: -23.5px;
  padding: 10px 0px 5px 0px;
  background-color: lightgray;
  color: white;
  border-radius: 1px;
}
.owl-carousel .next-slide {
  right: -23.5px;
  padding: 10px 0px 5px 0px;
  background-color: lightgray;
  color: white;
  border-radius: 1px;
}
.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}
.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}
