.App {
  text-align: center;
  width: auto;
  height: auto;
}

.para {
  margin-right: 12rem;
}

.paraa {
  margin-right: 5rem;
}

.pura {
  margin-left: 5rem;
}

.head {
  margin-left: 1rem;
}

.raj {
  margin-left: 8.5rem;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 2px;
  border-color: black;
  border: 2px;
}

.faq {
  margin-right: 3rem;
  margin-left: 3rem;
}

.abb {
  margin-right: 1.5rem;
}

@media only screen and (max-width: 1140px) {
  .para {
    margin-right: 0rem;
  }
  .pura {
    margin-left: 0rem;
  }
  .paraa {
    margin-right: 0rem;
  }
  .head {
    margin-left: 1rem;
  }
  .navbar-collapse .nav-item {
    text-align: start;
  }
  .fam {
    font-size: 5px;
  }
  .tac {
    margin-left: 50px;
  }
  .tuk {
    margin: 30px;
  }
  .faq {
    margin-right: 0rem;
    margin-left: 0rem;
  }
  .abb {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .zack span {
    visibility: hidden;
    clear: both;
    display: none;
  }
  .filter_menu .col {
    flex: 0;
  }
  .card h5 {
    font-size: 13px;
  }
  .card h6 {
    font-size: 13px;
  }
  .card button {
    width: 8rem;
  }
}

.filter_menu {
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
  flex-direction: row;
}

.filter_menu select,
input {
  border: 1px solid #ccc;
  outline: none;
  padding: 0 5px;
  width: 10rem;
  height: 40px;
  display: flex;
}

.zack span {
  padding: 7px 5px;
}
