.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .title {
    color: gray;
    font-weight: 600;
    font-size: 25px;
  }
}

.title span {
  color: #3c4043;
}

.jadoo {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

@media (min-width: 600px) {
  .title {
    font-size: 30px;
    font-weight: 600;
  }

  .lead {
    margin-right: 0rem;
  }
}
