.jab {
  margin-left: 5rem;
}

/* .backk {
  background-color: lawngreen;
  background-size: cover;
  background-position: center, center;
  width: 100%;
} */

@media only screen and (max-width: 600px) {
  .jab {
    margin-left: 0rem;
  }
}
