.jab {
  margin-left: 5rem;
}

@media only screen and (max-width: 600px) {
  .jab {
    margin-left: 0rem;
  }
}

@media (min-width: 600px) {
  .card-title h5 {
    font-size: 18px;
  }
  .card-text h6 {
    font-size: 18px;
  }
  .card button {
    width: 8rem;
  }
  .pro {
    margin: 0px 20px;
  }
}

.pro .card-img {
  transition: transform 0.1s;
}
.pro .card-img:hover {
  transform: scale(1.05);
}

input[type='search']:focus {
  box-shadow: none;
  transition: none;
  border-color: lightgray;
}
