.App {
  text-align: center;
  width: auto;
  height: auto;
}

.para {
  margin-right: 12rem;
}

.paraa {
  margin-right: 5rem;
}

.pura {
  margin-left: 5rem;
}

.head {
  margin-left: 1rem;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 2px;
  border-color: black;
  border: 2px;
}

.faq {
  margin-right: 3rem;
  margin-left: 3rem;
}

.abb {
  margin-right: 1.5rem;
}

@media only screen and (max-width: 1140px) {
  .para {
    margin-right: 0rem;
  }
  .pura {
    margin-left: 0rem;
  }
  .paraa {
    margin-right: 0rem;
  }
  .head {
    margin-left: 1rem;
  }
  .navbar-collapse .nav-item {
    text-align: start;
  }
  .fam {
    font-size: 5px;
  }
  .tac {
    margin-left: 50px;
  }
  .tuk {
    margin: 30px;
  }
  .faq {
    margin-right: 0rem;
    margin-left: 0rem;
  }
  .abb {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .zack span {
    visibility: hidden;
    clear: both;
    display: none;
  }
  .filter_menu .col {
    flex: 0;
  }
  .card-title h5 {
    font-size: 15px;
  }
  .card-text h6 {
    font-size: 15px;
  }
  .card button {
    width: 8rem;
  }
  .zoo {
    visibility: hidden;
    display: none;
  }
  .pro {
    margin: 0px 0px;
  }
}

.filter_menu {
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
  flex-direction: row;
}

.filter_menu select,
input {
  border: 1px solid #ccc;
  outline: none;
  padding: 0 5px;
  width: 10rem;
  height: 40px;
  display: flex;
}

.data .row {
  --bs-gutter-x: 0 rem;
}

.zack span {
  padding: 7px 5px;
}

.nav-item Link {
  text-decoration: none;
}

.nav-link h6 {
  font-size: 14px;
  color: #1b4944;
}

.map-container-section {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.shadow-sm {
  box-shadow: 1px solid rgba(0, 0, 0, 0.075);
}

@media only screen and (max-width: 600px) {
  .jet {
    padding-bottom: 5.5rem;
  }
  .jeet {
    max-width: 80%;
  }
  .haar {
    width: 120px;
    height: 40px;
  }
  .ishan {
    margin-bottom: 1rem;
  }
  .dad {
    margin: 0.4rem 0rem 0.4rem 0rem;
  }
  .nav-link h6 {
    font-size: 12px;
  }
  .dag {
    padding-right: 0;
  }
  .dug {
    padding-left: 0;
  }
  .cartimage {
    width: 100%;
    height: 100%;
  }
  .cartname {
    font-size: 15px;
  }
  .cartspan {
    visibility: hidden;
    clear: both;
    display: none;
  }
  .cartquantity {
    width: 4.3rem;
    height: 2.5rem;
  }
  .cartprice {
    font-size: 14px;
  }
  .removebtn .btn-success {
    background: unset;
    background-color: unset;
  }
  .removebtn .btn {
    transition: unset;
  }
  .cartsize {
    font-size: 12px;
  }
  .cart .row > * {
    padding-right: 0px;
    padding-left: 0px;
  }
  .shahrukh {
    font-weight: 600;
    font-size: 14px;
    color: green;
  }
  .virat .list-group-item {
    padding: unset;
    padding-bottom: 1rem;
  }
  .carticon {
    margin-left: 2.4rem;
  }
  .check {
    margin-top: 3rem;
  }
  .cartmsg {
    margin-bottom: 5rem;
  }
  .cartbut {
    width: 18rem;
  }
  .raj {
    margin-left: 0rem;
  }
  .stocks {
    font-size: 16px;
  }
}

.jackk {
  background: url('https://ik.imagekit.io/cz92t2phsuf/Cultivist/bkg-footer-bottom_z5nCt9ZhbKp.png?updatedAt=1633598863466');
  background-size: cover;
}

.form-button {
  box-shadow: none;
  text-decoration: none;
}

@media (min-width: 600px) {
  .checkoutSteps {
    text-decoration: none;
    font-size: 18px;
    color: green;
  }
  .moving-tree span {
    background: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: -5px;
    right: -6px;
    padding: 5px 7px;
    font-size: 10px;
  }
  .shahrukh {
    font-weight: 600;
    font-size: 15px;
    color: green;
    cursor: pointer;
  }
  .shahrukh:hover {
    text-decoration: underline;
  }
  .haar {
    width: 140px;
    height: 40px;
  }
  .jeet {
    max-width: 65%;
  }
  .kishan {
    margin-top: 9rem;
  }
  .ishan {
    margin-top: 2rem;
  }
  .dad {
    margin: 1rem 0rem 1rem 0rem;
  }
  .dag {
    padding-right: 5px;
  }
  .dug {
    padding-left: 5px;
  }
  .cartimage {
    width: 240px;
    height: 240px;
  }
  .cartquantity {
    width: 4.3rem;
    height: 2.2rem;
  }
  .cartprice {
    font-size: 18px;
  }
  .cartsize {
    font-size: 14px;
  }
  .cart .row > * {
    padding-right: 5px;
    padding-left: 5px;
  }
  .virat .list-group-item {
    padding: unset;
  }
  .kohli {
    display: flex;
    align-items: center;
  }
  .cartremove {
    margin-bottom: 11.5rem;
  }
  .check {
    margin-top: 3rem;
  }
  .cartmsg {
    margin-bottom: 20rem;
  }
  .cartbut {
    width: 20rem;
  }
  .raj {
    margin-left: 2.5rem;
  }
}

.form-control {
  box-shadow: unset;
  transition: unset;
  border: '1px solid #ccc';
}

.form-control:focus {
  border-color: green;
  box-shadow: unset;
}

.btn {
  box-shadow: unset;
  transition: unset;
}

.faf .csk {
  transition: transform 0.1s;
}
.faf .csk:hover {
  transform: scale(1.09);
}

@media only screen and (max-width: 600px) {
  .gate {
    margin-left: 1rem;
  }
  .dubai {
    margin-top: 4.2rem;
  }
  .singapore {
    margin-top: 1.2rem;
  }
  .user-pro {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
  }
  .moving-cart {
    font-size: 24px !important;
    margin-right: 25px;
  }
  .moving-tree {
    font-size: 24px !important;
  }
  .mighty-raju {
    visibility: hidden;
  }
  .mighty-raju2 {
    visibility: hidden;
    clear: both;
    display: none;
  }
  .srh {
    margin: 0rem 1rem 0rem 1rem;
  }
  .kkr2 {
    margin: 1rem 1rem 1rem 1rem;
  }
  .rr {
    margin-top: 1.5rem;
  }
  .mi {
    margin: 0rem 1rem 2rem 1rem;
  }
  .dc {
    margin: 1rem 0 1rem 0;
  }
  .karan {
    font-size: 15px;
  }
  .arjun {
    font-size: 11px;
  }
  .userpic {
    width: 70px;
  }
  .usercol {
    width: 7rem;
  }
  .iball {
    margin-bottom: 0.5rem;
  }
  .speak {
    row-gap: 0.5rem;
  }
  .cloud {
    width: 5rem;
  }
  .most {
    margin-left: 2rem;
  }
  .qualify {
    width: 40%;
  }
  .qualify2 {
    width: 60%;
  }
  .pollution {
    font-size: 12px;
  }
  .dhaka {
    margin-top: 0.5rem;
  }
  .mujeeb .btn {
    width: 7.5rem;
    border-radius: 0.4rem;
  }
}

@media (min-width: 600px) {
  .gate {
    margin-right: 10rem;
  }
  .pollution {
    font-size: 14px;
  }
  .unit {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }
  .qualify {
    width: 115%;
  }
  .qualify2 {
    width: 125%;
  }
  .cloud {
    max-width: 70%;
  }
  .king {
    visibility: hidden;
    clear: both;
    display: none;
  }
  .dubai {
    margin-top: 4.08rem;
  }
  .user-pro {
    position: absolute;
    right: 0;
    margin-right: 5.8rem;
    transform: translateY(-50%);
  }
  .moving-cart {
    font-size: 24px !important;
    margin-right: 28px;
  }
  .moving-tree {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    font-size: 24px !important;
    margin-right: 13.2rem;
  }
  .basket {
    margin-right: 4.5rem;
  }
  .basket2 {
    margin-right: 15.7rem;
  }
  .joining {
    margin-left: 1rem;
  }
  .signoutt {
    width: 100%;
  }
  .kkr {
    margin: 7rem 5rem 5rem 5rem;
  }
  .kkr2 {
    margin: 1rem 5rem 1rem 5rem;
  }
  .srh {
    margin: 8rem 7rem 5rem 5rem;
  }
  .mi {
    margin: 0rem 3rem 3rem 3rem;
  }
  .dc {
    margin: 1.5rem 0 1.5rem 0;
  }
  .karan {
    font-size: 19px;
  }
  .arjun {
    font-size: 15px;
  }
  .userpic {
    width: 120px;
  }
  .usercol {
    width: 12rem;
  }
  .iball {
    transition: transform 0.1s;
  }
  .iball:hover {
    transform: scale(1.04);
  }
  .speak {
    row-gap: 1rem;
  }
  .wire {
    margin-top: 2rem;
  }
  .born {
    margin-bottom: 2rem;
  }
  .treeimagecard {
    position: absolute;
    width: 150px;
    height: 150px;
    overflow: hidden;
    top: 80px;
    left: 30%;
    align-self: center;
    border-radius: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .step1 {
    padding: 1.5rem 0.4rem 1rem 0rem;
  }
  .treeimagecard {
    position: absolute;
    width: 75px;
    height: 75px;
    overflow: hidden;
    top: 25px;
    left: 25%;
    align-self: center;
    border-radius: 100%;
  }
  .step2-3 {
    padding: 1.5rem 0.4rem 1rem 0.4rem;
  }
  .step4 {
    padding: 1.5rem 0rem 1rem 0.4rem;
  }
  .checkoutSteps {
    text-decoration: none;
  }
  .shippingform {
    width: 100%;
  }
  .paymentform {
    width: 100%;
  }
  .paymentbutton {
    margin-top: 2rem;
  }
  .avergersimg {
    width: 100px;
    height: 150px;
  }
  .garaj {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .jhol .row > * {
    padding-right: unset;
    padding-left: unset;
  }
  .trade .row > * {
    padding-right: unset;
    padding-left: unset;
  }
  .bazooka .row > * {
    padding-left: 10px;
    padding-right: 10px;
  }
  .viru {
    margin-top: 1.2rem;
  }
  .america {
    padding: 5px 0px 5px 0px;
  }
  .kapil {
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
  .placement {
    font-size: 12px;
  }
  .placement1 {
    font-size: 13px;
  }
  .bravo {
    margin-top: 1.2rem;
  }
  .xty {
    margin-right: 1.7rem;
  }
  .paisa {
    font-size: 13px;
  }
  .paisa1 {
    font-size: 12px;
  }
  .resonate {
    margin-top: 1rem;
  }
  .digisol {
    font-size: 12px;
  }
  .england {
    width: 100%;
    height: 300px;
  }
  .england2 {
    width: 100%;
    height: 300px;
  }
  .planet {
    word-spacing: 5px;
    max-width: 100%;
    font-size: 14px;
  }
  .mickey {
    font-size: 15px;
  }
  .mouse {
    font-size: 16px;
    margin-top: 2.5rem;
  }
  .tarak {
    display: none;
  }
  .kanish {
    width: 135px;
    font-size: 12.5px;
  }
  .minnie {
    font-size: 15px;
  }
  .sahej {
    font-size: 22px;
  }
  .wire {
    margin-top: 1rem;
  }
  .warner {
    font-size: 17px;
    margin: 0 0 0 0;
    padding: 0;
  }
  .tizum1 {
    padding: 0 1.4rem;
  }
  .tizum2 {
    padding: 0 1.4rem;
  }
  .warner2 {
    font-size: 16.5px;
  }
  .githubpack {
    width: 14px;
    height: 14px;
  }
  .plantimage {
    width: auto;
  }
  .wcfinal {
    margin: 5px 0 2px 0;
  }
  .wheels {
    height: 80%;
  }
}

@media (min-width: 600px) {
  .wheels {
    height: 70%;
  }
  .utsav {
    -webkit-box-shadow: 0 10px 10px -10px #000000;
    -moz-box-shadow: 0 10px 10px -10px #000000;
    box-shadow: 0 10px 10px -10px #000000;
  }
  .treecarddd {
    -webkit-box-shadow: 0 10px 10px -10px #000000;
    -moz-box-shadow: 0 10px 10px -10px #000000;
    box-shadow: 0 10px 10px -10px #000000;
  }
  .wcfinal {
    margin: 0 0 2px 0;
  }
  .githubpack {
    width: 20px;
    height: 20px;
  }
  .carousel .slide {
    height: 65vh;
  }
  .cult {
    margin-left: 10px;
  }
  .step1 {
    margin-right: 20px;
    padding: 1.5rem 0.5rem 1rem 0rem;
  }
  .step2-3 {
    margin-right: 20px;
    margin-left: 20px;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
  }
  .step4 {
    margin-left: 20px;
    padding: 1.5rem 0rem 1rem 0.5rem;
  }
  .shippingform {
    width: 50%;
  }
  .paymentform {
    width: 50%;
  }
  .paymentbutton {
    margin-top: 3rem;
  }
  .orderitem .row > * {
    padding-right: 5px;
    padding-left: 5px;
  }
  .avergersimg {
    width: 200px;
    height: 170px;
  }
  .jhol .row > * {
    padding-right: unset;
    padding-left: unset;
  }
  .viru {
    margin-bottom: 6rem;
  }
  .placement {
    font-size: 15px;
  }
  .placement1 {
    font-size: 17px;
    margin-bottom: 2.5rem;
  }
  .paisa {
    font-size: 17px;
  }
  .paisa1 {
    font-size: 15px;
  }
  .bravo {
    margin-bottom: 1rem;
  }
  .stocks {
    margin-bottom: 2.5rem;
  }
  .england {
    width: 1000px;
    height: 600px;
  }
  .planet {
    letter-spacing: 1px;
    word-spacing: 5px;
    max-width: 80%;
    font-size: 15px;
  }
  .core {
    margin-top: 0.5rem;
  }
  .kanish {
    width: 180px;
  }
  .warner {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  .warner2 {
    font-size: 20px;
    cursor: pointer;
  }
  .tizum1 {
    padding: 0 3rem 0 1.5rem;
  }
  .tizum2 {
    padding: 0 1.5rem 0 3rem;
  }
  .alankar:hover {
    text-decoration: underline;
  }
  .plantimage {
    width: 80%;
  }
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel .slide img {
  max-height: 100%;
  width: auto;
}

.treebutton {
  background-color: transparent;
  background: transparent;
  border: unset;
  box-shadow: unset;
}

.carousel.carousel-slider .control-arrow {
  background: white;
}

.treeimage {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.plantimage {
  margin: 0 auto;
  height: 100%;
}

