@media only screen and (max-width: 1140px) {
  .text-small {
    text-align: center;
    font-size: 15px;
  }
  .text-big {
    text-align: center;
    font-size: 40px;
  }
  .box-main {
    max-width: 100%;
  }
  .button {
    margin-bottom: 15px;
  }
}

@media (min-width: 600px) {
  .background {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/1_s6V2_bQilQ.png?updatedAt=1639918371281');
    background-size: 100%;
  }
  .background2 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/2_hdC6BrxI8.png?updatedAt=1639918371636');
    background-size: 100%;
  }
  .firstSection {
    height: 90vh;
  }
  .SecondSection {
    height: 80vh;
  }
  .button {
    color: white;
    font-weight: 600;
    width: 13rem;
    padding: 0.8rem 0.5rem;
    margin-top: 13rem;
  }
  .buttonName {
    font-size: 17px;
  }
  .box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #16161d;
    max-width: 50%;
    margin: auto;
    height: 80%;
  }
  .shopBanner {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Morning_routine_0lfhIIzdN.png?updatedAt=1639916203197');
    background-size: 100%;
  }
  .shopBanner2 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Night_routine_UWjuGl0Yx.png?updatedAt=1639916204187');
    background-size: 100%;
  }
  .shopBanner3 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Skin_care_routine_hMCtCUJUj.png?updatedAt=1639916205699');
    background-size: 100%;
  }
  .shopBanner4 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Skin_care_routine__2__Rn0HBO-DcdN.png?updatedAt=1639916205789');
    background-size: 100%;
  }
  .shopBanner5 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Skin_care_routine__3__484iV3BLo.png?updatedAt=1639916205561');
    background-size: 100%;
  }
  .shopBanner6 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Air_purifier_plants__2__AIqVyrskj.png?updatedAt=1639916202419');
    background-size: 100%;
  }
  .shopBanner7 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Air_purifier_plants_wCfcVwMHh.png?updatedAt=1639916202880');
    background-size: 100%;
  }
  .shopBanner8 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Dog_1o86BIr7X.png?updatedAt=1639917000597');
    background-size: 100%;
  }
  .shopBanner9 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Meditation.png?updatedAt=1639917375594');
    background-size: 100%;
  }
  .shopBannerButtonBG {
    margin-left: 60px;
    margin-top: 26.5rem;
    margin-bottom: 4.9rem;
  }
  .shopBannerButtonBG5 {
    margin-left: 60px;
    margin-top: 26.5rem;
    margin-bottom: 4.9rem;
  }
  .shopBannerButtonBG .btn {
    border-radius: unset;
  }
  .shopBannerButton {
    padding: 1.2rem 2.5rem;
    background-color: #00b84f;
    border: 1px solid green;
    border-radius: 1rem;
  }
  .shopBannerButtonBG1 {
    margin-left: 110px;
    margin-top: 14rem;
    margin-bottom: 17.65rem;
  }
  .shopBannerButtonBG1 .btn {
    border-radius: unset;
  }
  .shopBannerButton1 {
    padding: 1rem 2rem;
    background-color: #00b84f;
    border: 1px solid green;
    border-radius: 1rem;
  }
  .shopBannerButtonBG2 {
    margin-left: 66rem;
    margin-top: 28.5rem;
    margin-bottom: 2rem;
  }
  .shopBannerButtonBG2 .btn {
    border-radius: unset;
  }
  .shopBannerButton2 {
    padding: 1rem 1rem;
    width: 10rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
  }
  .shopBannerText {
    font-size: 15px;
    color: white;
  }
  .shopBannerText2 {
    font-size: 15px;
    color: black;
  }
  .shopBannerRS {
    font-size: 16.5px;
  }
  .MainBannerButton {
    margin-left: 1rem;
    margin-top: 15rem;
  }
  .margined {
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .background {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/1_s6V2_bQilQ.png?updatedAt=1639918371281');
    background-size: 100%;
    width: 100%;
  }
  .background2 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/2_hdC6BrxI8.png?updatedAt=1639918371636');
    background-size: 100%;
    width: 100%;
  }
  .firstSection {
    margin-top: 4.5rem;
    height: 24vh;
  }
  .SecondSection {
    height: 19.5vh;
  }
  .button {
    color: white;
    font-weight: 600;
    width: 8rem;
    height: 2.5rem;
    padding: unset;
    margin-left: 0.5rem;
    margin-top: 0.8rem;
  }
  .buttonName {
    font-size: 11px;
  }
  .box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #16161d;
    max-width: 50%;
    margin: auto;
    height: 80%;
  }
  .shopBanner {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Morning_routine_0lfhIIzdN.png?updatedAt=1639916203197');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner2 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Night_routine_UWjuGl0Yx.png?updatedAt=1639916204187');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner3 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Skin_care_routine_hMCtCUJUj.png?updatedAt=1639916205699');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner4 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Skin_care_routine__2__Rn0HBO-DcdN.png?updatedAt=1639916205789');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner5 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Skin_care_routine__3__484iV3BLo.png?updatedAt=1639916205561');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner6 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Air_purifier_plants__2__AIqVyrskj.png?updatedAt=1639916202419');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner7 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Air_purifier_plants_wCfcVwMHh.png?updatedAt=1639916202880');
    background-size: 100%;

    width: 100%;
  }
  .shopBanner8 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/doggy_Acm7sfv3P.png?updatedAt=1639923939392');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner9 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Meditation.png?updatedAt=1639917375594');
    background-size: 100%;
    width: 100%;
  }
  .shopBannerButtonBG {
    margin-left: 13px;
    margin-top: 100px;
    margin-bottom: 9.7px;
  }
  .shopBannerButtonBG5 {
    margin-left: 13px;
    margin-top: 83px;
    margin-bottom: 27px;
  }
  .margined {
    margin: 1.5rem 0.5rem 1.5rem 0.5rem;
  }
  .margined2 {
    margin: 0rem 0.5rem;
  }
  .shopBannerButton {
    width: 65px;
    padding: 0px 4px 4px 4px;
    background-color: #00b84f;
    border: 0.5px solid green;
    border-radius: 6px;
  }
  .shopBannerText {
    font-size: 7px;
    color: white;
  }
  .shopBannerButtonBG1 {
    margin-left: 25px;
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .shopBannerButtonBG1 .btn {
    border-radius: unset;
  }
  .shopBannerButton1 {
    width: 63px;
    padding: 0px 4px 4px 4px;
    background-color: #00b84f;
    border: 0.5px solid green;
    border-radius: 6px;
  }
  .shopBannerButtonBG2 {
    margin-left: 15rem;
    margin-top: 105px;
    margin-bottom: 10px;
  }
  .shopBannerButtonBG2 .btn {
    border-radius: unset;
  }
  .shopBannerButton2 {
    width: 5rem;
    padding: 0px 4px 4px 4px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
  }
  .shopBannerText2 {
    font-size: 7px;
    color: black;
  }
  .shopBannerRS {
    font-size: 7px;
  }
}
