@media only screen and (max-width: 1140px) {
  .text-small {
    text-align: center;
    font-size: 15px;
  }
  .text-big {
    text-align: center;
    font-size: 40px;
  }
  .box-main {
    max-width: 100%;
  }
  .button {
    margin-bottom: 15px;
  }
}

@media (min-width: 600px) {
  .background {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/1_s6V2_bQilQ.png?updatedAt=1639918371281');
    background-size: 100%;
  }
  .background2 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/2_hdC6BrxI8.png?updatedAt=1639918371636');
    background-size: 100%;
  }
  .firstSection {
    height: 90vh;
  }
  .SecondSection {
    height: 80vh;
  }
  .button {
    color: white;
    font-weight: 600;
    width: 13rem;
    padding: 0.8rem 0.5rem;
    margin-top: 13rem;
  }
  .buttonName {
    font-size: 17px;
  }
  .box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #16161d;
    max-width: 50%;
    margin: auto;
    height: 80%;
  }
  .shopBanner {
    background: #fcf4ec;
    background-size: 100%;
  }
  .shopBanner2 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Night_routine_UWjuGl0Yx.png?updatedAt=1639916204187');
    background-size: 100%;
  }
  .shopBanner3 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Skin_care_routine_hMCtCUJUj.png?updatedAt=1639916205699');
    background-size: 100%;
  }
  .shopBanner4 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Skin_care_routine__2__Rn0HBO-DcdN.png?updatedAt=1639916205789');
    background-size: 100%;
  }
  .shopBanner5 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Skin_care_routine__3__484iV3BLo.png?updatedAt=1639916205561');
    background-size: 100%;
  }
  .shopBanner6 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Air_purifier_plants__2__AIqVyrskj.png?updatedAt=1639916202419');
    background-size: 100%;
  }
  .shopBanner7 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Air_purifier_plants_wCfcVwMHh.png?updatedAt=1639916202880');
    background-size: 100%;
  }
  .shopBanner8 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Dog_1o86BIr7X.png?updatedAt=1639917000597');
    background-size: 100%;
  }
  .shopBanner9 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Meditation.png?updatedAt=1639917375594');
    background-size: 100%;
  }
  .bannerText {
    font-size: 16px;
    font-weight: 600;
  }
  .bannerHead {
    color: #34a853;
    font-size: 35px;
    font-weight: 600;
  }
  .bannerRS {
    font-size: 17px;
  }
  .shopBannerText {
    color: white;
  }
  .shopBannerButton {
    padding: 0.5rem 1.5rem;
    background-color: #00b84f;
    border: 1px solid green;
    border-radius: 0.5rem;
  }
  .bannerIMG {
    height: 100%;
    width: 100%;
  }
  .bannerONE {
    height: 300px;
    width: 450px;
  }
  .bannerCONTAINER {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  .bannerHelp {
    margin-top: 2.5rem;
    font-size: 15px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 600px) {
  .background {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/1_s6V2_bQilQ.png?updatedAt=1639918371281');
    background-size: 100%;
    width: 100%;
  }
  .background2 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/2_hdC6BrxI8.png?updatedAt=1639918371636');
    background-size: 100%;
    width: 100%;
  }
  .firstSection {
    margin-top: 4.5rem;
    height: 24vh;
  }
  .SecondSection {
    height: 19.5vh;
  }
  .button {
    color: white;
    font-weight: 600;
    width: 8rem;
    height: 2.5rem;
    padding: unset;
    margin-left: 0.5rem;
    margin-top: 0.8rem;
  }
  .buttonName {
    font-size: 11px;
  }
  .box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #16161d;
    max-width: 50%;
    margin: auto;
    height: 80%;
  }
  .shopBanner {
    background: #fcf4ec;
    background-size: 100%;
  }
  .shopBanner2 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Night_routine_UWjuGl0Yx.png?updatedAt=1639916204187');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner3 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Skin_care_routine_hMCtCUJUj.png?updatedAt=1639916205699');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner4 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Skin_care_routine__2__Rn0HBO-DcdN.png?updatedAt=1639916205789');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner5 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Skin_care_routine__3__484iV3BLo.png?updatedAt=1639916205561');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner6 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Air_purifier_plants__2__AIqVyrskj.png?updatedAt=1639916202419');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner7 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Air_purifier_plants_wCfcVwMHh.png?updatedAt=1639916202880');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner8 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/doggy_Acm7sfv3P.png?updatedAt=1639923939392');
    background-size: 100%;
    width: 100%;
  }
  .shopBanner9 {
    background: url('https://ik.imagekit.io/cz92t2phsuf/Banners/Meditation.png?updatedAt=1639917375594');
    background-size: 100%;
    width: 100%;
  }
  .bannerText {
    font-size: 13px;
    font-weight: 600;
  }
  .bannerRS {
    font-size: 12px;
  }
  .bannerHead {
    color: #34a853;
    font-size: 21px;
    font-weight: 600;
  }
  .shopBannerText {
    color: white;
  }
  .shopBannerButton {
    padding: 0.3rem 1rem;
    background-color: #00b84f;
    border: 1px solid green;
    border-radius: 0.5rem;
  }
  .bannerIMG {
    height: 100%;
    width: 100%;
  }
  .bannerONE {
    height: 250px;
    width: 450px;
  }
  .bannerCONTAINER {
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
  }
  .bannerHelp {
    margin-top: 1rem;
    font-size: 11px;
    font-weight: 600;
  }
}
